<div class="story">
    <div style="text-align: center">
        <img src="{{MEDIA}}robots.png" style="max-height: 350px">
    </div>

</div>
<p>
    Заданий непустий {% if is_js %}масив{% else %}список{% endif %} цілих чисел. В цій задачі тобі потрібно повернути {% if is_js %}масив{% else %}список або інший ітеративний об'єкт (кортеж, генератор, ітератор){% endif %}, який складається тільки з неунікальних елементів початкового {% if is_js %}масиву{% else %}списку{% endif %}. Для цього необхідно видалити всі унікальні елементи (тобто ті, які наявні в {% if is_js %}масиві{% else %}списку{% endif %} тільки один раз). Наприклад: в <b class="code">[1, 2, 3, 1, 3]</b>, де <b class="code">1, 3</b> - неунікальні елементи і результатом буде <b class="code">[1, 3, 1, 3]</b>.
</p>

<p style="text-align: center;">
    <img title="non-unique-elements"
         src="{{MEDIA}}non-unique-elements.png"
         alt="non-unique-elements"
         style="max-height: 160px"/>
</p>

<p><strong>Вхідні дані:</strong> {% if is_js %}Масив{% else %}Список{% endif %} цілих чисел.</p>

<p><strong>Вихідні дані:</strong> {% if is_js %}Масив{% else %}Список або інший ітеративний об'єкт (кортеж, генератор, ітератор){% endif %} цілих чисел.</p>
<div class="for_info_only">
    <p><strong>Приклади:</strong></p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<p>
    <strong>Як це використовується:</strong>
    <i>
       Ця задача допоможе тобі зрозуміти, як маніпулювати {% if is_js %}масивами{% else %}списками{% endif %}. Також ця ідея може бути легко застосована для реальних задач. Для прикладу: якщо тобі необхідно очистити статистику від елементів, які рідко зустрічаються (від шуму). 
    </i>
</p>
<p><strong>Передумови:<br> </strong>
    0 &lt; |X| &lt; 1000<br>
</p>
