<div class="story">
    <div style="text-align: center">
        <img src="{{MEDIA}}robots.png" style="max-height: 350px">
    </div>
    <p>
        If you have 50 different plug types, appliances wouldn't be available and would be very
        expensive. But once an electric outlet becomes standardized, many companies can design
        appliances, and competition ensues, creating variety and better prices for consumers.
        <br>
        -- Bill Gates

    </p>

</div>

<p>
    You are given a non-empty {% if is_js %}<span translate="repeat">array</span> of <span translate="repeat">numbers</span>{% else %}<span translate="repeat">list</span> of <span translate="repeat">integers</span>{% endif %}.
    For this task, you should return {% if is_js %}an <span translate="repeat">array</span>{% else %}an <span translate="repeat">Iterable</span>{% endif %} consisting of only the non-unique elements from the initial {% if is_js %}<span translate="repeat">array</span>{% else %}<span translate="repeat">list</span>{% endif %}. To do so you will need to remove all unique elements (elements which are contained in a given {% if is_js %}<span translate="repeat">array</span>{% else %}<span translate="repeat">list</span>{% endif %} only once). When solving this task, do not change the order of the {% if is_js %}<span translate="repeat">array</span>{% else %}<span translate="repeat">list</span>{% endif %}. Example: in <b class="code">[1, 2, 3, 1, 3]</b> elements <b class="code">1, 3</b> are non-unique and result will be <b class="code">[1, 3, 1, 3]</b>.
</p>

<p style="text-align: center;">
    <img title="non-unique-elements"
         src="{{MEDIA}}non-unique-elements.png"
         alt="non-unique-elements"
         style="max-height: 160px"/>
</p>

<p><strong>Input:</strong> {% if is_js %}<span translate="repeat">Array</span> of <span translate="repeat">numbers</span>{% else %}<span translate="repeat">List</span> of <span translate="repeat">integers</span>{% endif %}.</p>

<p><strong>Output:</strong> {% if is_js %}<span translate="repeat">Array</span> of <span translate="repeat">numbers</span>{% else %}<span translate="repeat">List</span> or another <span translate="repeat">Iterable</span> (<span translate="repeat">tuple</span>, <span translate="repeat">iterator</span>, <span translate="repeat">genetor</span>) of <span translate="repeat">integers</span>{% endif %}.</p>
<div class="for_info_only">
    <p><strong>Examples:</strong></p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<br>
<p>
    <strong>How it is used:</strong>
    <i>
        This mission will help you to understand how to manipulate {% if is_js %}<span translate="repeat">arrays</span>{% else %}<span translate="repeat">lists</span>{% endif %}, something that is the basis for solving more complex tasks. The concept can be easily generalized for real world tasks. For example: if you need to clarify statistics by removing low frequency elements (noise).
    </i>
</p>
<p>
    {% if is_js %}
    You can find out more about JavaScript arrays in <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Indexed_collections">one of articles</a>.
    {% else %}
    You can find out more about Python arrays in <a target="_blank" href="https://py.checkio.org/blog/arrays-for-python/">one of our articles featuring lists, tuples, array.array and numpy.array</a>. 
    {% endif %}
</p>
<p><strong>Precondition:</strong><br>
    0 &lt; len(data) &lt; 1000<br>
</p>

