<div class="story">
    <div style="text-align: center">
        <img src="{{MEDIA}}robots.png" style="max-height: 350px">
    </div>
    <p>
        Wenn Sie 50 verschiedene Steckertypen haben, wären die Geräte nicht verfügbar und sehr teuer
        teuer. Aber sobald eine Steckdose standardisiert ist, können viele Unternehmen
        geräte entwickeln, und es entsteht ein Wettbewerb, der für Vielfalt und bessere Preise für die Verbraucher sorgt.
       <br>
        -- Bill Gates

    </p>

</div>

<p>
    Sie erhalten eine nicht leere Folge von ganzen Zahlen.
    Für diese Aufgabe sollten Sie {% if is_js %}Array{% else %}Iterable{% endif %} <span>({% if is_js %}Array{% else %}Iterable{% endif %})</span> zurückgeben, das nur aus den nicht eindeutigen Elementen der Ausgangssequenz besteht. Dazu müssen Sie alle eindeutigen Elemente entfernen (Elemente, die in einer gegebenen Folge nur einmal enthalten sind). Ändern Sie beim Lösen dieser Aufgabe nicht die Reihenfolge der Elemente. Beispiel: in <b class="code">[1, 2, 3, 1, 3]</b> sind die Elemente <b class="code">1, 3</b> nicht eindeutig und das Ergebnis wird <b class="code">[1, 3, 1, 3]</b> sein.
</p>

<p style="text-align: center;">
    <img title="non-unique-elements"
         src="{{MEDIA}}non-unique-elements.png"
         alt="non-unique-elements"
         style="max-height: 160px"/>
</p>

<p><strong>Eingabe:</strong> {% if is_js %}Array{% else %}Liste{% endif %} <span>({% if is_js %}Array{% else %}List{% endif %})</span> von ganzen Zahlen <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.</p>

<p><strong>Ausgabe:</strong> {% if is_js %}Array{% else %} Liste <span>(List)</span> oder ein anderes Iterable (Tupel <span>(tuple)</span>, Iterator <span>(iterator)</span>, Genetor <span>(genetor)</span>){% endif %} von ganzen Zahlen <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.</p>
<div class="for_info_only">
    <p><strong>Beispiele:</strong></p>
    <pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
<br>
<p>
    <strong>Wie es verwendet wird:</strong>
    <i>
        Diese Aufgabe wird Ihnen helfen zu verstehen, wie man Sequenzen manipuliert, was die Grundlage für die Lösung komplexerer Aufgaben ist. Das Konzept kann leicht auf reale Aufgaben verallgemeinert werden. Zum Beispiel: Wenn Sie Statistiken durch Entfernen von niederfrequenten Elementen (Rauschen) klären müssen.
    </i>
</p>
<p>
   {% if is_js %}
    Mehr über JavaScript-Arrays erfahren Sie unter <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Indexed_collections">one of articles</a>.
   {% else %}
    Mehr über Python-Listen erfahren Sie unter <a target="_blank" href="https://py.checkio.org/blog/arrays-for-python/">one of our articles featuring lists, tuples, array.array and numpy.array</a>. 
   {% endif %}
</p>
<p><strong>Vorbedingung:</strong><br>
    0 &lt; len(Daten) &lt; 1000<br>
</p>

